#btn {
  height: 20vmin;
  width: 22vmin;

  font-size: medium;
  color: red;
  background-color: #caf0f8;
}
.mode {
  text-align: center;
  font-size: 5rem;
}

.background {
  text-align: center;
}
